<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row _top_row">
          <div class="col-md-12" style="background-color: #8FBC8F; text-align: center;">
            <p style="color: white;">
              SAVE UP TO 200 Ksh. 300 on select items. <u>Shop now !</u> 
              <i class="fas fa-times" style="color: white; margin-left: 1em;"></i>
            </p>
          </div>
        </div>
        <mat-card class="analytics_card">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <mat-card-title style="text-align: center; font-size: 12px; font-weight: bold;">TERRA SOFTWORKS LIMITED</mat-card-title >
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row" style="width:100%; background-color: ghostwhite;"><mat-card-subtitle style="margin-top: 1em; margin-left: 2em;">Trending Product and Services</mat-card-subtitle></div>

          <!--  <mat-card-header>-->
              <br><br>
          <mat-card-title style="text-align: center;">TRENDING</mat-card-title>
          <mat-card-subtitle style="text-align: center;color: black; font-size: 14px;">TOP DEALS THIS WEEK</mat-card-subtitle>
          <br>
          <mat-card-content>
            <div class="row">
                <div class="col-md-3">
                  <mat-card>
                    <img mat-card-image src="assets/lap.jpg" alt="image">
                    <br>
                    <h3 style="text-align: center;">ELECTRONICS</h3>
                    <P style="color: orange; text-align: center;"> 
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                    </P>
                    <mat-card-subtitle style="text-align: center;color: black; font-size: 14px;">HP 15 PAVILLION OR HP PROOBOOK45.G5</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: center;color: gainsboro; font-size: 14px; text-decoration: line-through;">Ksh. 43,000</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: center;color: black; font-size: 14px; margin-top: -1.2em;">Ksh. 23,000</mat-card-subtitle>
                  </mat-card>
                </div>
                <div class="col-md-3">
                  <mat-card>
                    <img mat-card-image src="assets/lap.jpg" alt="image">
                    <br>
                    <h3 style="text-align: center;">ELECTRONICS</h3>
                    <P style="color: orange; text-align: center;"> 
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                    </P>
                    <mat-card-subtitle style="text-align: center;color: black; font-size: 14px;">HP 15 PAVILLION OR HP PROOBOOK45.G5</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: center;color: gainsboro; font-size: 14px; text-decoration: line-through;">Ksh. 43,000</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: center;color: black; font-size: 14px; margin-top: -1.2em;">Ksh. 40,000</mat-card-subtitle>
                  </mat-card>
                </div>
                <div class="col-md-3">
                  <mat-card>
                    <img mat-card-image src="assets/lap.jpg" alt="image">
                    <br>
                    <h3 style="text-align: center;">LIVESTOCK</h3>
                    <P style="color: orange; text-align: center;"> 
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                    </P>
                    <mat-card-subtitle style="text-align: center;color: black; font-size: 14px;">SDADAD</mat-card-subtitle>
                     <br>
                     <mat-card-subtitle style="text-align: center;color: gainsboro; font-size: 14px; text-decoration: line-through;">Ksh. 1</mat-card-subtitle>
                     <mat-card-subtitle style="text-align: center;color: black; font-size: 14px; margin-top: -1.2em;">Ksh. 1</mat-card-subtitle>
                  </mat-card>
                </div>
                <div class="col-md-3">
                  <mat-card>
                    <img mat-card-image src="assets/lap.jpg" alt="image">
                    <br>
                    <h3 style="text-align: center;">ELECTRONICS</h3>
                    <P style="color: orange; text-align: center;"> 
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                        <i class="fas fa-star" style="margin-left: 1em;"></i>
                    </P>
                    <mat-card-subtitle style="text-align: center;color: black; font-size: 14px;">CHEAP THING</mat-card-subtitle>
                    <br>
                    <mat-card-subtitle style="text-align: center;color: gainsboro; font-size: 14px; text-decoration: line-through;">Ksh. 1</mat-card-subtitle>
                    <mat-card-subtitle style="text-align: center;color: black; font-size: 14px; margin-top: -1.2em;">Ksh. 1</mat-card-subtitle>
                  </mat-card>
                </div>

              </div>
  
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>