<a  routerLink="../login" style="margin-left: 0.5em;">Login</a>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row _top_row">
          <div class="col-md-12" style="background-color: #8FBC8F; text-align: center;">
            <p style="color: white;">
              SAVE UP TO 200 Ksh. 300 on select items. <u>Shop now !</u> 
              <i class="fas fa-times" style="color: white; margin-left: 1em;"></i>
            </p>
          </div>
        </div>
        <mat-card class="analytics_card">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <mat-card-title style="text-align: center; font-size: 12px; font-weight: bold;">TERRA SOFTWORKS LIMITED</mat-card-title >
                </div>
                <div class="col-md-4" style="text-align: center; margin-top: 0.5em;">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            <div class="row" style="width:100%; background-color: ghostwhite;"><mat-card-subtitle style="margin-top: 1em; margin-left: 2em;">Trending Product and Services</mat-card-subtitle></div>
            <div class="row">
                <i class="fas fa-envelope-square fa-3x pull-right" style="color: #2E86C1; margin-left: 94%; z-index: 8;margin-bottom: -0.5em; margin-top: -0.1em;"></i>
              </div>

          <!--  <mat-card-header>-->
              <br><br>
              <mat-card-title style="font-size: 14px; font-weight: bold;">Choose Payment Options</mat-card-title >
                <mat-divider ></mat-divider>
                <br>
                 <form class="form-inline">
                     <mat-card style="padding: 0em;">
                        <img src="assets/mpesa.png" alt="mpesa" srcset="" style="width: 5em;" >
                        <img src="assets/visa.png" alt="mpesa" srcset="" style="width: 5em;" >
                        <img src="assets/mastercard.png" alt="mpesa" srcset="" style="width: 5em;" >
                        <img src="assets/american.png" alt="mpesa" srcset="" style="width: 5em;" >
                        <img src="assets/tkash.png" alt="mpesa" srcset="" style="width: 5em;" >

                     </mat-card>
                    <br>
                     <div  style="width:100%; background-color: ghostwhite;">
                        <mat-card-subtitle style="padding: 1em;">100 % sure payments processed by <a href="http://">Spwpepay</a>and secured by verisigh SSL. Inorder to protect your card from unothorised use. Swypepay may request further proof of the card owrnership</mat-card-subtitle>
                     </div>
                     <br>
                     <div  style="width:100%; background-color: #56baed;">
                        <label style="color: white; margin-left: 0.5em; padding-top: 1em;">Swypepay will charge KES 1 to your VISA Card. SwypePay does not store your card details</label>
                     </div>
                 </form>
          <br>
          <div class="row">
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-6">
                        <p>
                            <mat-form-field appearance="legacy">
                              <mat-label>Valid Card Number</mat-label>
                              <input matInput placeholder="Placeholder">
                            </mat-form-field>
                          </p>
                          <p>
                            <mat-form-field appearance="standard">
                              <mat-label>YY</mat-label>
                              <input matInput placeholder="Placeholder">
                            </mat-form-field>
                          </p>
                      </div>
                      <div class="col-md-6">
                        <p>
                            <mat-form-field appearance="legacy">
                              <mat-label>CVV</mat-label>
                              <input matInput placeholder="Placeholder">
                            </mat-form-field>
                          </p>
                          <p>
                            <mat-form-field appearance="standard">
                              <mat-label>MM</mat-label>
                              <input matInput placeholder="Placeholder">
                            </mat-form-field>
                          </p>
                      </div>
                  </div>
                      <div class="row">
                        <p>
                        <mat-form-field appearance="legacy">
                            <mat-label>Email Address (registerd with the card)</mat-label>
                            <input matInput placeholder="Placeholder">
                          </mat-form-field>
                        </p>
                      </div>

                  <div style="text-align: center;">
                    <button style="border-radius: 30px;" type="submit" >Complete Card Payment <i class="fas fa-check"></i> </button>
                  </div>

              </div>
              <div class="col-md-6">
                  <img src="assets/visaimg.png" alt="image" style="width: 20em;">
              </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>